* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background: white;
  color: #111;

  font-family: system-ui, sans-serif;
}

:root {
  --header-height: 140px;
}

@media (max-width: 768px) {
  :root {
    --header-height: 190px;
  }
}

main {
  padding-top: var(--header-height);
  min-height: 80vh;
}
